/* Dark background + image layer */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* FIXED: Background image path is now simple and web-safe */
    background-image: url("profile-photo.png"); 
    background-size: cover;
    background-position: center;
    opacity: 0.15;
    z-index: -1;
}


/* Main dark theme styling */
body {
/* ... rest of your CSS code ... */
